{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row gamme welcome">
  <div class="d-flex">
      <h1><a style="text-decoration: none" href="{% url 'home' %}"><strong class="text-white">Empowering Tokenization of Mobile Data Globally utilizing the XRP Ledger.</strong></a></h1>
  </div>
  <hr>
  <div>
    <a class="btn btn-outline-success text-white" href="#">
      DaoProposal
    </a>
  </div>
</div>
<div class="row gamme ">
    <div class="d-flex">
        <h3><a style="text-decoration: none" href="{% url 'home' %}"><strong class="text-white">Products</strong></a></h3>
    </div>
    
    <hr>
  </div>

  <div class="row gamme">
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/background.JPG' %}">
      <div class="box-element">
        <h6>
          <strong class="text-white">Data Package</strong>
         </h6>
        <hr>
        <a class="btn btn-outline-success text-white" href="#">
          View
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/background.JPG' %}">
      <div class="box-element product">
        <h6>
         <strong class="text-white">Data Package</strong>
        </h6>
        <hr>
        <a class="btn btn-outline-success text-white" href="#">
          View
        </a>
      </div>
  
    </div>
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/background.JPG' %}">
      <div class="box-element product">
        <h6>
         <strong class="text-white">Data Package</strong>
        </h6>
        <hr>
        <a class="btn btn-outline-success text-white" href="#">
          View
        </a>
       
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row gamme ">
    <div class="d-flex">
        <h3><a style="text-decoration: none" href="{% url 'home' %}"><strong class="text-white">Funded Projects</strong></a></h3>
    </div>
    <hr>
  </div>

  <div class="row gamme">
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/background.JPG' %}">
      <div class="box-element product">
        <h6>
          <strong class="text-white">Project</strong>
         </h6>
        <hr>
        <a class="btn btn-outline-success text-white" href="#">
          View
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/background.JPG' %}">
      <div class="box-element product">
        <h6>
         <strong class="text-white">Project</strong>
        </h6>
        <hr>
        <a class="btn btn-outline-success text-white" href="#">
          View
        </a>
      </div>
  
    </div>
    <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/background.JPG' %}">
      <div class="box-element product">
        <h6>
         <strong class="text-white">Project</strong>
        </h6>
        <hr>
        <a class="btn btn-outline-success text-white" href="#">
          View
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
