{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<div class="container">


    <div class="row gamme">
        <div class="d-flex">
            <h1><strong class="text-white">New Project</strong></a></h1>
        </div>
        <div class="container">
            <div>
                <form action="action_page.php">
                <div class="text-white">
                  <label for="fname">Title</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
                <div class="text-white">
                  <label for="lname">Owner</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                </div>
           <!--     <div class="text-white">
                  <label for="country">Country</label>
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                </div>-->
                <div class="text-white">
                  <label for="subject">Description</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                </div>
                <div>
                  <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue"> 
                 <!--    <input type="submit" value="Submit"> -->
                </div>
                  </form>
            </div>    
        </div>        
    </div>
</div>
{% endblock %}